    <%-include('partials/header')-%>
      <body>
        <section class="banner-navbar">
          
          <!-- BANNER -->
          <%-include('partials/banner')-%>
          <!-- //BANNER -->
          
          <!--  NAVBAR -->
          <%-include('partials/navbar')-%>
          <!-- // NAVBAR -->
        </section>

          <!-- HERO SECTION -->
          <%-include('partials/herosection')-%>
          <!-- // HERO SECTION -->
  
          <!-- SERVICES  -->
          <%-include('partials/services')-%>
          <!-- // SERVICES -->

         

        <!-- FOOTER -->
       <%-include('partials/footer')-%>
        <!-- //FOOTER -->
        
        <%-include('partials/common')-%>
        <script defer src="/js/main.js"></script>
      </body>
    </html>
