    <%-include('partials/header')-%>
      <body class="bg-dark text-light">
        <section class="banner-navbar">
          
          <!-- BANNER -->
          <%-include('partials/banner')-%>
          <!-- //BANNER -->
          
          <!--  NAVBAR -->
          <%-include('partials/navbar')-%>
          <!-- // NAVBAR -->
        </section>

          <!-- HERO SECTION -->
          <%-include('partials/herosection')-%>
          <!-- // HERO SECTION -->
  
          <!-- SERVICES  -->
          <%-include('partials/services')-%>
          <!-- // SERVICES -->

          <!-- FEEDBACK MODAL -->
          <%-include('partials/feedback-modal')-%>
          <!-- //FEEDBACK MODAL -->

         

          <!-- FOOTER -->
          <%-include('partials/footer')-%>
          <!-- //FOOTER -->
        
        <%-include('partials/common')-%>
        <script defer src="/js/main.js"></script>
      </body>
    </html>
