    <%-include('partials/header')-%>
      <body>
        <!-- <section class="banner-navbar mb-5">
          
          <!-- BANNER -->
          <%-include('partials/banner')-%>
          <!-- //BANNER -->
          
          <!--  NAVBAR -->
          <%-include('partials/navbar')-%>
          <!-- // NAVBAR -->
        </section> 
        
        <section class="heating">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-12 col-lg-8"><h4 class="display-4 text-danger" data-aos="fade-up"> Expert Heating Services: Keep Your Furnace In Top Shape </h4></div>
                    <!-- <div class="col-md-8"><h3 class="text-danger">IF IT’S AN EMERGENCY, PLEASE CALL 226-988-6648</h3></div> -->
                </div>
                <div class="d-lg-flex justify-content-between mt-2">
                    <div class="mb-3 col-12 col-lg-5">
                        <p data-aos="fade-up" data-aos-delay="100">Our commitment to exceptional customer service has earned us multiple service awards, but perhaps more importantly, positive feedback from our valued clients. As your one-stop solution for plumbing installation and repair services in the Kitchener/Waterloo, Guelph, and Cambridge areas, Tiger Plumbing is committed to offering professional results at fair prices.</p>
                        <p data-aos="fade-up" data-aos-delay="100">We stand by our workmanship and make it our mission to ensure your complete satisfaction. You can count on our plumbing company to keep you informed at every step, including providing accurate estimates and helpful tips on our blog to keep your plumbing system running smoothly. Contact us today to learn more about our comprehensive plumbing services.</p>
                        <img style="margin: 0 auto;" class="img-fluid d-block d-lg-none" src="https://placehold.co/400x500" class="rounded mx-auto d-block" alt="..." data-aos="fade-up" data-aos-delay="140">
                        <span class="display-3 text-danger" data-aos="fade-up" data-aos-delay="160">Why Choose Us?</span> 
                        <p class="mt-3" data-aos="fade-up" data-aos-delay="170">Our reliable services have helped us emerge as a notable provider of plumbing repairs in Waterloo. Over the years, we have served clients across the city with our quick and responsive plumbing services. We have acquired expertise over years of providing comprehensive plumbing repairs in Waterloo.</p>    
                        <span class="h5 fw-bold green-text">Give us a call on 226-988-6648 to schedule a visit</span>             
                      </div>
                    <div class="col-12 col-lg-6">
                      <!-- <form class="border border-warning rounded-left p-4" action="/callService">
                        <div class="form-group mb-3">
                          <label class="mb-3" for="emailAddress">Contact</label>
                          <input type="text" class="form-control"   placeholder="Enter mobile number">
                          <small class="form-text text-muted">We'll never share your contact with anyone else.</small>
                        </div>
                        <div class="form-group mb-3">
                           <label class="mb-3" for="address">Address</label>
                            <input type="text" class="form-control" placeholder="Address">
                        </div>
                        <div class="form-group mb-3">
                           <label class="mb-3" for="phone-number">Problem Description</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form> -->
                      <img src="https://placehold.co/400x500" class="img-fluid rounded mx-auto d-block mb-3" alt="...">
                    </div>
                </div>
            </div>
        </section>
        <%-include('partials/footer')-%>
        <%-include('partials/common')-%>
        <script defer src="/js/main.js"></script>
      </body>
    </html>